:root {
    --color-primary: #0096cc;
    --color-primary-dark: #005472;
    --header: #202A39;
    --body-color: --color-white;


    --color-white: #fff;
    --color-black: #0f0f0f;
}

* {
    margin: 0;
    padding: 0;
    color: var(--color-black);
    box-sizing: border-box;
}

#myTable {
    color: var(--color-black);
}

body {
    font-family: sans - sans-serif;
}

h4 {
    margin-left: 230px;
}

h3 {
    padding-top: 20px;
    padding-left: 29px;
}

header {
    background-color: var(--header);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 1%;
    width: 100%;
    z-index: 999;
}



.logo {
    font-size: 30px;
    color: var(--color-white);
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 0px 20px;
    color: var(--color-white);
    transition: all 0.2s ease;

}

nav ul li a:hover {
    color: var(--color-primary);
}

.button {
    color: var(--color-white);
    background-color: var(--color-primary);
    font-size: 15px;
    padding: 6px 20px;
    border: 0px;
    border-radius: 10px;
    transition: all 0.2s ease;

}

.button:hover {
    background: transparent;
    border: 1px solid var(--color-primary)
}

.signup {
    padding: 6px 14px;
}

.table {
    background-color: var(--body-color);
    color: var(--color-white);
}

.table thead th {
    border-bottom: 2px solid var(--color-white);
}

.table tbody tr {
    border-bottom: 2px solid var(--color-white);
}

.table tbody td {
    background-color: var(--body-color);
}

.formcontainer {
    width: 550px;
    padding-top: 15px;
    padding-bottom: 10px;
    /* align-content: center; */
}

.formwrapper {
    position: relative;
    background-color: #F5F5F5;
    border-radius: 2px;
    width: 100%;
    /* z-index: -1; */
}

.text_field {
    max-width: 270px;
}

.left_navbar_container {
    position: fixed;
    top: 79px;
    left: 0;
    width: 144px;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
}

.left_navbar {
    background-color: var(--header);
    color: var(--color-white);
    left: 0;
    height: 800px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: left;
}

.left_navbar ul {
    display: flex;
    flex-direction: column;
}

.left_navbar ul li {
    list-style: none;
    margin-top: 39px;
}

.left_navbar ul li a {
    text-decoration: none;
    font-size: 17px;
    width: 50px;
    padding: 0px 10px;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-right: 0;

    color: var(--color-white);
    transition: all 0.2s ease;
}

.left_navbar ul li a:hover {
    background-color: var(--body-color);
}

.active {
    background-color: var(--body-color);
}

.select_pad {
    padding: 2px 3px;
    border-radius: 5px;
}


body {
    background: var(--body-color);
    /* overflow: hidden; */
}


/* section */
section {
    margin-top: 5px;
    margin-left: 150px;
    margin-right: 5px;
    height: 500px;
    color: var(--color-black);
    background-color: var(--body-color);
}

.rightsection {
    margin-top: 100px;
    height: 500px;
}

.rightsection h4 {
    padding-top: 20px;
    padding-left: 29px;

}

.section_createteams {
    height: 370px;
}

.rightsection_createteams {
    height: 380px;
}

/* .section_addplayers {
    /* height: 380px; */
*/
/* .section_createumpire { */
/* height: 355px; */
/* } */
/* 
.section_creatematch {
    height: 378px;
} */

.section_playmatch {
    height: 480px;
}

.rightsection_creatematch {
    height: 384px;
}


.left_right_container {
    align-items: center;

}

.bat {
    width: 100%;
}

.bowl {
    width: 578px;
}

.addnew {
    display: block;
    position: absolute;
    margin-top: 18px;
    right: 21px;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    background-color: #0096cc;
}

.submit_btn {
    position: relative;
    width: 118px;
    /* height: 42px; */
    left: 122px;
    /* padding: 12px; */
    /* border-radius: 9px; */
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

.innings_ended {
    position: relative;
    width: 120px;
    height: 42px;
    left: 115px;
    padding: 12px;
    border-radius: 9px;
    background-color: #3c3ab7;
    color: white;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}


.table-header {
    background-color: #307ECC;
    color: #FFF;
    font-size: 14px;
    line-height: 38px;
    margin-top: 70px;
    padding-left: 12px;
    margin-bottom: 1px;
}

.form-control {
    display: inline-block;
}

.btn-max-width-height {
    width: 120px;
    height: 42px;

}

/* Footer */
.footer {
    background-color: var(--color-primary-dark);
    padding: 70px 0;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.fcontainer {
    max-width: 1206px;
    margin: auto;
}

ul {
    list-style-type: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    color: var(--color-white);
    margin-bottom: 30px;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    Left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--color-white);
    text-decoration: none;
    font-weight: 300;
    display: block;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col a:hover {
    padding-left: 10px;
}

.social-links a {
    background-color: var(--color-white);
    transition: all 0.3s ease;
    padding: 5px;
}

.social-links a:hover {
    padding-top: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dataTables_wrapper .dataTables_filter input {
    color: var(--color-black);
}